@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&family=Source+Sans+Pro:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Rajdhani&display=swap');
@font-face {
	font-family: 'Slim Play';
	src: url('Slim Play.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: #101010;
}

.cabecalho{
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #000;
	justify-content: space-around;
	width: 100%;
	border-bottom: 0.4px solid #630075;
	position: fixed;
}

.logo{
	display: flex;
	align-items: center;
	font-family: 'Slim PLay', sans-serif;
	font-size: 32px;
	height: 63px;
}

.van{
	color: #ffff;

}

.lima{
	color: #630075;
}

.menusinho{
	display: flex;
	grid-gap: 32px;
}

.cabecalho-menu-item{
	font-family: 'Rajdhani', sans-serif;
	color: #ffff;
	cursor: pointer;
	font-size: 20px;
	transition: 0.8s;
}

.cabecalho-menu-item:hover{
	color: #03e9f4;
}



			/*INICIO*/



.inicio{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh;
	padding-top: 62px;
}

.inicio-escrito{
	display: flex;
	flex-direction: column;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	margin-left: 15px;
	margin-bottom: 15px;
}

h1{
	font-family: 'Rajdhani', sans-serif;
	color: #B400FF;
	font-size: 6.5vw;
}

h2{
	color: #fff;
	font-size: 3.5vw;
}

.botao-principal{
	background-color: #470048;
	height: 60px;
	width: 180px;
	border: none;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #03e9f4;
	cursor: pointer;
	border: 2px solid #d2bdff;
	margin-top: 10px;
}

.botao-principal:hover{
	transform: scale(1.1);
	box-shadow: inset 0 0 0.3em #DE02E6;
    transition: all 0.5s;
}

.botao-principal2:hover{
	transform: scale(1.1);
	box-shadow: inset 0 0 0.3em #03e9f4;
    transition: all 0.5s;

}

.botao-principal2{
	background-color: transparent;
	height: 60px;
	width: 180px;
	border: none;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #03e9f4;
	cursor: pointer;
	border: 2px solid #d2bdff;
	margin-top: 10px;
	margin-left: 5px;
}

.sobre-mim img{
	height: 420px;
	margin-right: 15px;
}

.inicio-img{
	height: 300px;
	border-radius: 40% 35%;
	z-index: 10;
	transform: translate(5px, -10px);
	transition: 1.5s;
}

.inicio-img:hover{
	transform: scale(1.1);
	border-radius: 50% 30%;
}

.bolha{
	width: 400px;
	height: 300px;
	z-index: 8;
	transition: 1.5s;
	border-radius: 100px 100% 70px 50%;
	background-image: linear-gradient(125.31deg, #f2015b 0%, #ed02f1 47.92%, #04038d 100%);
}

.bolha:hover{
	border-radius: 100px 70% 70px 30%;
}

@media(max-width: 880px){
	.inicio{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		padding-top: 20px;
	}

	.inicio-escrito{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	h1{
		font-size: 40px;
	}

	h2{
		font-size: 20px;
	}

	.sobre-mim img{
		height: 50vh;
	}

	.inicio-img{
		height: 40vh;
	}

	.bolha{
		height: 40vh;
		width: 50vw;
	}
}

@media(max-width: 880px){
	.cabecalho{
		height: 9.2vh;
		display: flex;
		justify-content: space-between;

	}

	.logo{
		margin-left: 30px;
	}

	.menusinho{
		display: none;
	}

	.one,
	.two,
	.three{
		background-color: #fff;
		height: 5px;
		width: 100%;
		margin: 6px auto;

		transition-duration: 0.3s;
	}

	.menu-toggle{
		width: 40px;
		height: 30px;
		margin-right: 35px;
		margin-bottom: 6px;
	}

	/* fullscreem */

	.menu-section.on{
		position: absolute;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;

		background-color: #650061;
		opacity: .8;
		transition: .5s;

		z-index: 10;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-section.on nav ul{
		display: block;
	}

	.menu-section.on .menu-toggle{
		position: absolute;
		right: 0;
		top: 12px;
		margin-right: 38px;
	}

	.menu-section.on .menu-toggle .one{
		transform: rotate(45deg) translate(7px, 7px);
	}

	.menu-section.on .menu-toggle .two{
		opacity: 0;
	}

	.menu-section.on .menu-toggle .three{
		transform: rotate(-45deg) translate(8px, -9px);
	}

	.menu-section.on nav ul a{
		text-align: center;
		display: block;
		font-size: 7.2vh;
		padding: 15px;
	}

	.logo{
		font-size: 22px;
		display: flex;
		align-items: center;
		height: 62px;
	}
}


		/*SOBRE MIM*/



.sobre-mim{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #000000;
	padding-top: 62px;
	width: 90%;
	margin: 0 auto;
	border-radius: 8px 8px 0px 0px;
}

.sobre-escrito{
	background-color: rgba(0, 0, 0, 0.4);
	padding: 25px;
	border-radius: 12px;
	box-shadow: inset 0 0 1em #DE02E6;
	margin: 15px;
	font-family: 'Rajdhani', sans-serif;
}

.sobre-paragrafo{
	color: #fff;
}

@media(max-width: 880px){
	.inicio-img{
		margin-top: 30px;
	}

	.sobre-mim{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.sobre-escrito{
		text-align: center;
		margin-left: 15px;
	}

}

@media(max-width: 520px){
	

	.botao-principal,
	.botao-principal2 {
		width: 100px;
		height: 40px;
		font-size: 18px;
	}
}

.Projetos{
	min-height: 100vh;
	background-size: cover;
	padding-top: 62px;
	width: 95%;
	margin: 0 auto;
}

.container-projetos{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.titulo-projet{
	text-align: center;
}

.titulo-projetos{
	color: #eeeeee;
}



div.projeto1,
div.projeto2,
div.projeto3,
div.projeto4{
	height: 180px;
	width: 280px;
	margin: 10px;
	text-align: center;
	border-radius: 8px;
	color: #d2bdff;
	background-color: #151515;
}

#project img {
	border-radius: 8px;
}

.sub-container{
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

div#project img{
	height: 180px;
	width: 280px;
}

#project:hover{
	transform: scale(1.1);
	transition: 0.3s;
}




/* HABILIDADES */


.Habilidades{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	width: 90%;
	margin: 0 auto;
	border-radius: 8px;
	margin-bottom: 30px;
}

.jsimg{
	height: 90%;
}

.icones{
	height: 100px;
	width: 100px;
	margin: 10px;
	border-radius: 8px;
	background-color: #151515;
	transition: .3s;
	color: #151515;
	text-align: center;
}

.icones:hover{
	transform: scale(1.1);
	color: #ffffff;
}

.icones img{
	transform: translate(3px, -13px);
	transition: .3s;
	z-index: 2;
}

.icones img:hover{
	transform: translateY(10px);
	height: 70px;
}

.icones span{
	padding-top: 10%;
	display: block;
	opacity: 0;
	height: 100%;
	z-index: 1;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	transition: .3s;
}

footer {
	background-color: #000;
	border-top: 1px solid #470048;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer > a > img {
	height: 40px;
	border-radius: 50%;
}

footer img:hover{
	transform: scale(1.1);
	transition: .3s;
}